<!DOCTYPE html>
<html>
<head>
	<title>Responsive Portfolio</title>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

  <link rel="stylesheet" href="assets/css/layout.css">

</head>
<body>

<div class="layout">

<div class="the_nav">
    <div class="nav_name">
      <p>Jonathan King<p>
    </div>
    <div class="nav_items">
      <div class="about">
        <a href="/contact">Contact Me</a>
      </div>
    </div>
</div>

<div class="content">
        {{{ body }}}
</div>

</div>

</body>
</html>