<link rel="stylesheet" href="assets/css/contact.css">

<h1 class="content_title">
    Contact Me
</h1>

<hr>

<div class="contact-page">
    <div class="contact-info">
        <div class="contact-title">
            Name:
        </div>
        <div class="contact-value">
            Jonathan King
        </div>
        <div class="contact-title">
            Email:
        </div>
        <div class="contact-value">
            imjonathanking@gmail.com
        </div>
        <div class="contact-title">
            Github:
        </div>
       
        <a href="https://github.com/imjonathanking">
            <div class="contact-value">
                https://github.com/imjonathanking
            </div>
        </a>
    </div>
</div>