<h1 class="content_title">
    My Portfolio
</h1>

<hr>

<div class="list">
    <lh class="list-header">
            Languages
    </lh>
    <ul class="languages flex-list">
        <li class="flex-li">
            <div class="li-title">Javascript</div>
            <img class="li-image" src="assets/img/js.png">
        </li>
        <li class="flex-li">
            <div class="li-title">CSS</div>
            <img class="li-image" src="assets/img/css.png">
        </li>
        <li class="flex-li">
            <div class="li-title">SQL</div>
            <img class="li-image" src="assets/img/sql.png">
        </li>
        <li class="flex-li">
            <div class="li-title">Python</div>
            <img class="li-image" src="assets/img/python.png">
        </li>
    </ul>
    <lh class="list-header">
            Technologies
    </lh>
    <ul class="technologies flex-list">
        <li class="flex-li">
            <div class="li-title">React</div>
            <img class="li-image" src="assets/img/react.png">
        </li>
        <li class="flex-li">
            <div class="li-title">Handlebars</div>
            <img class="li-image" src="assets/img/handlebars.jpg">
        </li>
    </ul>
    <lh class="list-header">
        Projects
    </lh>
    <ul class="projects flex-list">
        <li class="flex-li">
            <a class="link-wrapper" href="https://secure-sea-17913.herokuapp.com/">
                <div class="li-title">
                    Recipe Finder
                </div>
                <img class="li-image" src="assets/img/recipe.png"></img>
            </a>
        </li>
        <li class="flex-li">
            <a class="link-wrapper" href="https://ameizing1125.github.io/RipNRowdy-Project-1/index.html">
                <div class="li-title">
                    Brewery Finder
                </div>
                <img class="li-image" src="assets/img/brewery.png"></img>
            </a>
        </li>
        <li class="flex-li">
            <a class="link-wrapper" href="https://github.com/aMeizing1125/habit-builder">
                <div class="li-title">
                    Habit Building App
                </div>
                <img class="li-image" src="assets/img/habit.png"></img>
            </a>
        </li>
    </ul>
</div>